/*
 * This is the source for the fonts :)
 * https://www.reddit.com/r/DDLC/comments/955qyi/a_complete_list_of_ddlc_font_names_and_what_they/
 */
@font-face {
    font-family: Aller;
    src: url("../fonts/aller.regular.ttf");
}
@font-face {
    font-family: Ammys-Handwriting;
    src: url("../fonts/Ammys Handwriting.ttf");
}
@font-face {
    font-family: DamgrafikScript;
    src: url("../fonts/DamagrafikScript-Regular.ttf");
}
@font-face {
    font-family: DJ5CTRIAL;
    src: url("../fonts/DJ5CTRIAL.ttf");
}
@font-face {
    font-family: F25-Bank-Printer;
    src: url("../fonts/F25_Bank_Printer.ttf");
}
@font-face {
    font-family: F25-Bank-Printer-Bold;
    src: url("../fonts/F25_Bank_Printer_Bold.ttf");
}
@font-face {
    font-family: Halogen;
    src: url("../fonts/Halogen.ttf");
}
@font-face {
    font-family: Hashtag;
    src: url("../fonts/Hashtag.ttf");
}
@font-face {
    font-family: Hot-Mustard-BTN;
    src: url("../fonts/Hot Mustard BTN Regular.ttf");
}
@font-face {
    font-family: Journal;
    src: url("../fonts/JOURNAL.TTF");
}
@font-face {
    font-family: JPHSL;
    src: url("../fonts/JPHSL.TTF");
}
@font-face {
    font-family: Riffic;
    src: url("../fonts/RifficFree-Bold.ttf");
}
@font-face {
    font-family: VerilySerifMono;
    src: url("../fonts/VerilySerifMono.otf");
}